<%- include('partials/header') -%>
<div class="container">
    <h1 class='text-align-center'>Edit Article</h1>
    <form class="add-article" action="/articles/<%= article.id %>" method="POST">
        <div class="add-elem-div">
            <input class="title-article" type="text" name="title" value="<%= article.title%>" required>
        </div>
        <div class="add-elem-div">
            <textarea name="description" rows="4" cols="100"><%= article.description %></textarea>
        </div>
        <div class="add-elem-div">
            <input type="text" name="tags" value="<%= article.tags.join(', ')%>" placeholder="Tags(like NodeJS, React, NPM)">
        </div>
        <div class="add-elem-div">
            <input type="submit" value="Save Changes" onlick='confirmEdit()'>
        </div>
    </form>
    
</div>
    <script>
        //This just manages the auto expand of the <textarea>
        var comfyText = function () {
            let tag = document.querySelectorAll('textarea');
            let events = ['paste', 'input', 'keyup'];
            let windowEvents = ['load', 'resize'];

            events.forEach(event => {
                tag.forEach(el => {
                el.addEventListener(event, autoExpand);
                });
            });

            windowEvents.forEach(event => {
                window.addEventListener(event, expandAll);
            });

            function autoExpand(e, el) {
                var el = el || e.target;
                el.style.height = 'inherit';
                el.style.height = el.scrollHeight + 'px';
            }

            function expandAll() {
                let tagArr = [].slice.call(tag);
                tagArr.forEach(el => {
                autoExpand(e, tag[el]);
                });
            }
        }();
    </script>
<%- include('partials/footer') -%>  