<%- include('partials/header') -%>

<div class='home-grid'>
    <div class='left-home-div'>
        <div class='left-home-inner-div'>
            <div class='left-home-user-profile'>
                <div>
                    <div class='new-home-grid'>
                        <div class="mainprofilepic">
                            <img class="res-img" src="/data/uploads/<%= user.avatar %>"/>
                        </div>
                        <div class='article-page-author author-home-sub-grid'>
                            <a href="/users/<%=user.id%>" class='article-auth-link main-user-name'>
                                <%= user.name%>
                            </a> 
                            <div class='home-all-sn'>
                                <a target="_blank" href='<% if(user.github_oauth !== undefined){ %>
                                            <%=user.github_profile.profile%>
                                        <% }else {%>
                                            #
                                        <% } %>'
                                   class='github-linkup-home'>
                                    <i class="fab fa-github-square home-page-ssn
                                    <% if(user.github_oauth !== undefined){ %>
                                     darker-ssn
                                    <% }%>
                                    "></i>
                                </a>
                                <a class='google-linkup-home'>
                                    <i class="fab fa-google-plus-square home-page-ssn
                                    <% if(user.google_oauth !== undefined){ %>
                                        darker-ssn
                                    <% }%>
                                    "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class='left-home-user-options'>
                <a href='/articles/new' class='left-home-option-elem'>
                    <div class='left-home-option-icon-div'>
                        <i class="fas fa-pen left-home-option-icon write-new-icon"></i>
                    </div>
                    <div>
                        <p class='left-home-options-text'>Write a post</p>
                    </div>
                </a>
                <a href='/tags' class='left-home-option-elem'>
                    <div class='left-home-option-icon-div'>
                        <i class="fas fa-tag left-home-option-icon tag-icon"></i>
                    </div>
                    <div>
                        <p class='left-home-options-text'>Tags</p>
                    </div>
                </a>
                <a href='/articles/liked' class='left-home-option-elem'>
                    <div class='left-home-option-icon-div'>
                        <i class="fas fa-heartbeat left-home-option-icon liked-icon"></i>
                    </div>
                    <div>
                        <p class='left-home-options-text'>Liked post</p>
                    </div>
                </a>
                <a href='/articles/popular' class='left-home-option-elem'>
                    <div class='left-home-option-icon-div'>
                        <i class="fas fa-fire left-home-option-icon popular-icon"></i>
                    </div>
                    <div>
                        <p class='left-home-options-text'>Popular posts</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="container list-container-view">
    <% if(articles.length) { %>
    
    <div class='article-list-grid'>
    <% articles.forEach(elem => { %>
        <div class='single'>
            <a href="/articles/<%= elem.id %>/"><h2 class='single-heading'><%= elem.title%></h2></a>
            <div class='article-page-title-author-div'>
                <div class="profilepic"><img class="responsive-img" src="/data/uploads/<%= elem.author.avatar %>"/></div>
                <div class='article-page-grid-user-follow article-page-author'>
                    <a href="/users/<%=elem.author.id%>" class='article-auth-grid-elem article-auth-link'><%= elem.author.name%></a> 
                    <span class='article-update-displ-grid-elem article-update-displ'><%= elem.updatedAt.toString().substr(4,11) %></span>
                    <div class='article-author-fol-div com-view-art-follow'>
                        <% if(elem.author.id !== user.id) { %>
                            <% if(elem.author.followers.includes(user.id)) { %>
                            <a href="/users/<%= elem.author.id %>/unfollow" class='pfu profile-follow-user'>Following</a>
                            <% } else {%>
                            <a href="/users/<%= elem.author.id %>/follow" class='pfu profile-unfollow-user'>Follow</a>
                            <% } %>
                        <% } %>
                        
                    </div>
                </div>
            </div>
            
            <div class='tags-grid'>
                <% elem.tags.forEach(element => { %>
                    <div class="tag-elem-div">
                        <a href="/tags/<%= element %>"class="tag-elem"> #<%= element%></a>
                    </div>
                <% }); %>
            </div>
            <div class='misc-grid'>
                <div class='left-special like-left-special'>
                    <div>
                        <a href='/articles/<%= elem.id%>/like' class='like-link like-animate like-link-smaller'> 
                            <img class="img-like 
                                <% if(user.likedArticles.includes(elem.id)) {%>
                                <%= 'liked-art' %>
                                <% } %>
                            " src='/images/like-img.png'/>
                        </a>
                    </div>
                    <span class='likes-count'><%= `${elem.readersLiked.length}`%></span>
                </div>
                <div class='left-special comment-left-special'>
                    <div>
                        <a href='/articles/<%=elem.id%>#allcomments' class='like-link '> 
                            <i class="fas fa-comment-alt comment-sp like-link-smaller"></i>
                        </a>
                    </div>
                    <span class='likes-count'><%= `${elem.comments.length}`%></span>
                </div>
            </div>
        </div>
        <% })%>
    </div>
    <% } else { %>
    <h1 class='text-align-center'>No article for now. Come back later</h1>
    <% } %> 
        
    </div>
    <div class='right-home-div'>
        <div class='right-home-inner-div'>
            <div class='more-from-network-div'>
                <div class='basic-flex more-flex'>
                    <h2 class='more-from-network-text'>
                        New from
                        your network
                    </h2>
                    
                </div>
                <div class='basic-flex img-network-cont'>
                    <img src = '/images/network.png' class='home-network-img'>

                </div>
            </div>
            <div class='network-articles'>
                <div class='network-articles-grid'>
                    <% fArticles.forEach(elem =>{ %>
                    <div class='network-articles-elem'>
                        <a href="/articles/<%= elem.id %>/" class='single-heading network-article-title'>
                            <%= elem.title %>
                        </a>
                        <div class='article-page-title-author-div'>
                            <div class="profilepic"><img class="responsive-img" src="/data/uploads/avatar"/></div>
                            <div class='article-page-grid-user-follow article-page-author'>
                                <a href="/users/<%=elem.author.id%>" class='article-auth-grid-elem article-auth-link network-auth-name'><%= elem.author.name%></a> 
                                <span class='article-update-displ-grid-elem article-update-displ network-auth-date'><%=elem.updatedAt.toString().substr(4,11) %> </span>
                                
                                <div class='article-author-fol-div com-view-art-follow'>
                                    <% if(elem.author.id !== user.id) { %>
                                        <% if(elem.author.followers.includes(user.id)) { %>
                                        <a href="/users/<%= elem.author.id %>/unfollow" class='pfu profile-follow-user'>Following</a>
                                        <% } else {%>
                                        <a href="/users/<%= elem.author.id %>/follow" class='pfu profile-unfollow-user'>Follow</a>
                                        <% } %>
                                    <% } %>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    
                </div>

            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>