<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medium -Get smarted about what matters to you</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/medium-favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <a href='/'><p class='header-links' id='logo-p'>Medium</p></a>
    <% if(isUser){ %>
      <a href="/users/<%=user.id %>"><div class="button header-links"> <%= user.name.split(' ')[0] %></div></a>
      <a href="/articles"><div class="button header-links">Home</div></a>
    <% } else { %>
      <a href="/users/register"><div class="button header-links">Sign Up</div></a>
      <a href="/users/login"><div class="button header-links">Sign In</div></a>
    <% } %>
  </header>

<div class="flashes">
  <% if(locals.message){ %>
      <% console.log('Client: ', JSON.stringify(locals.message)) %>
       <% if(locals.message.Success) { %>
          <div class="alert alert-success" role="alert">
              <strong>Success</strong> <%=message.Success[0]%>
          </div>
      <% } else {%>
          <div class="alert alert-error" role="alert">
              <strong>Failure</strong> <%=message.Error[0]%>
          </div>

      <% } %>
  <% } %>
</div>
<main>
  <div class='container index-page-cnt'>
  <h2 class='home-page-hero'>Get smarter about what matters to you.</h2>
  <% if(tags.length) { %>
        <div class='tags-grid-wrapper'>
          <div class='tags-grid'>
              <% tags.forEach(element => { %>
                  <div class="tag-elem-div">
                  <a href="/tags/<%= element.tagname %>" class="tag-elem"><span class='hash-mark'><p>#</p></span> <%= `${element.tagname}`%></a>
                  </div>
              <% }); %>
          </div>
        </div>
        <h2 class='home-page-sub-hero'>Select what you're into. We'll help you find great things to read.</h2>
    <% } else { %>
     <h3 class='home-page-hero home-page-hero-no-tag'>No tags for now. Come back later</h3>
    <% } %> 
  </div>
</main>
<footer>
  <p class='footer-text'>&copy Anshu Saurabh</p>
</footer>
</body>
</html>