<%- include('partials/header') -%>

<div class='special-container'>
    <div class='special-left-panel'>
        <div class='left-pannel-inner-div'>
            <div class='left-special auto-margin like-left-special'>
                <div>
                    <a href='/articles/<%= article.id%>/like' class='like-link like-animate'> 
                        <img class="img-like 
                            <% if(user.likedArticles.includes(article.id)) {%>
                            <%= 'liked-art' %>
                            <% } %>
                        " src='/images/like-img.png'/>
                    </a>
                </div>
                <span class='likes-count'><%= `${article.readersLiked.length}`%></span>
            </div>
            <div class='left-special auto-margin comment-left-special'>
                <div>
                    <a href='#allcomments' class='like-link'> 
                        <i class="fas fa-comment-alt comment-sp"></i>
                    </a>
                </div>
                <span class='likes-count'><%= `${article.comments.length}`%></span>
            </div>
            <div class='twitter-share-left-special'>
                <a target="_blank" class="share-btn share-btn-branded share-btn-twitter" href="https://twitter.com/share?url=http%3A%2F%2Flocalhost:3000/articles/<%= article.id %>/&amp;text=<%= article.title %>&amp;via=anshusaurav" title="Share on Twitter">
                    <span class="share-btn-icon"></span>
                    <span class="share-btn-text-sr">Twitter</span>
                </a>
            </div>
            <div class='twitter-share-left-special'>
                <a target="_blank" class="share-btn share-btn-branded share-btn-facebook"
                    href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost:3000/articles/<%=article.id %>/"
                    title="<%= article.title %>">
                    <span class="share-btn-icon"></span>
                    <span class="share-btn-text-sr">Facebook</span>
                </a>
            </div>
            <div class='twitter-share-left-special'>
                <a target="_blank" class="share-btn share-btn-branded share-btn-linkedin"
                    href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flocalhost:3000/articles/<%=article.id %>/"
                    title="<%= article.title %>">
                        <span class="share-btn-icon"></span>
                        <span class="share-btn-text-sr">LinkedIn</span>
	            </a>
            </div>
            <div class='twitter-share-left-special'>
                <a target="_blank" class="share-btn share-btn-email"
                    href="mailto:?subject=<%= article.title %>&body=http%3A%2F%2Flocalhost:3000/articles/<%= article.id %>/"
                    title="<%= article.title %>">
                        <span class="share-btn-icon"></span>
                        <span class="share-btn-text-sr">Email</span>
	            </a>
            </div>
        </div>
    </div>

    <div class="container">
    <div>
        <div class='grid-col-end'>
            <% if(article.author.id === user.id) { %>
                <a href='/articles/<%= article.id %>/edit'><i title="Edit" class="far fa-edit"></i></a>
                <a href='/articles/<%= article.id %>/delete'><i title="Delete" class="far fa-trash-alt"></i></a> 
            <% }%>
        </div>

        <div>
            <div class='article-page-title-container'>
                <h2 class='article-page-title'><%= article.title%></h2>
                <div class='article-page-title-author-div'>
                    <div class="profilepic"><img class="responsive-img" src="<% if(article.author.avatar === 'avatar' && (article.author.github_oauth ||article.author.google_oauth)) { %> 
                        <% if(article.author.github_oauth) { %>
                            <%= article.author.github_profile.photo %>
                        <%} else if(article.author.google_oauth) { %>
                            <%= article.author.google_profile.picture %>
                        <% } %>   
                    <%} else { %>
                        <%= `/data/uploads/${article.author.avatar}`%>
                    <%} %>              
                    "/></div>
                    <div class='article-page-grid-user-follow article-page-author'>
                        <a href = "/users/<%=article.author.id%>"class='article-auth-grid-elem article-auth-link'><%= article.author.name%></a> 
                        <span class='article-update-displ-grid-elem article-update-displ'><%= article.updatedAt.toString().substr(4,11) %></span>
                        <div class='article-author-fol-div com-view-art-follow'>
                            <% if(article.author.id !== user.id) { %>
                                <% if(article.author.followers.includes(user.id)) { %>
                                <a href="/users/<%= article.author.id %>/unfollow" class='pfu profile-follow-user'>Following</a>
                                <% } else {%>
                                <a href="/users/<%= article.author.id %>/follow" class='pfu profile-unfollow-user'>Follow</a>
                                <% } %>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='showdown-area'>
                <%- text %>
            </div>
            
            <div class='tags-grid'>
                <% article.tags.forEach(element => { %>
                    <div class="tag-elem-div"><a href="/tags/<%= element %>"class="tag-elem"> <%= element%></a></div>
                <% }); %>
            </div>
        </div>
        <% if(article.comments.length) { %>
            <h2 class='response-title'>Responses<%= `(${article.comments.length})` %></h2>
            
            <div class='comments-list-grid' id='allcomments'>
            <% article.comments.forEach(elem => { %>
                <div class='single-comment'>
                    <div class="comment-content-div">
                    
                        <p class='comment-text'>&#8220;<%= `${elem.content.trim()}`%>&#8221;</p>
                        <% if(user.id == elem.author.id) { %>
                        <a href="/articles/<%= article.id %>/comments/<%= elem.id %>/edit">
                            <i class="far fa-edit art-comment-btn">
                            </i>
                        </a>
                        <a href="/articles/<%= article.id %>/comments/<%= elem.id %>/delete">
                            <i class="far fa-trash-alt art-comment-btn">

                            </i>
                        </a>
                        <% } %>
                    </div>
                    <div class="comment-author-div">
                        <div class="profilepic"><img class="responsive-img" src="<% if(elem.author.avatar === 'avatar' && (elem.author.github_oauth ||elem.author.google_oauth)) { %> 
                            <% if(elem.author.github_oauth) { %>
                                <%= elem.author.github_profile.photo %>
                            <%} else if(elem.author.google_oauth) { %>
                                <%= elem.author.google_profile.picture %>
                            <% } %>   
                        <%} else { %>
                            <%= `/data/uploads/${elem.author.avatar}`%>
                        <%} %>              
                        "/></div>
                        <div class='article-page-grid-user-follow com-author-view'>
                            
                                <a href="/users/<%= elem.author.id %>/" class="article-auth-grid-elem by-span"><%= elem.author.name%></a> 
                                <span class="by-span-date article-update-displ-grid-elem"><%= elem.updatedAt.toString().substr(4,11)%></span>
                                <div class='com-view-art-follow'>
                                    <% if(elem.author.id !== user.id) { %>
                                        <% if(elem.author.followers.includes(user.id)) { %>
                                        <a href="/users/<%= elem.author.id %>/unfollow" class='pfu profile-follow-user'>Following</a>
                                        <% } else {%>
                                        <a href="/users/<%= elem.author.id %>/follow" class='pfu profile-unfollow-user'>Follow</a>
                                        <% } %>
                                    <% } %>
                                </div>
                        </div>
                    </div>
                </div>
                <% })%>
            </div>
            <% } else { %>
            <h2 id='allcomments'>No response, be the first one to post.</h2>
            <% } %> 
            <form class="comment-form" action="/articles/<%= article.id %>/comments" method="POST">
                <textarea class="comment-area" name="content" placeholder="Add response" required></textarea>
                <div class="comment-flex-col-2">
                <input id="comment-btn" type="submit" value="Add Response">
                </div>
            </form>
        </div>
        
    </div>
    <div class='special-right-panel'>

    </div>
</div>
<script>
    // var sdArea = document.querySelector('.showdown-area');
    // // console.dir(sdArea);
    // if(sdArea) {
    //     var descendants = Array.from(sdArea.getElementsByTagName("*"));
    //     console.log('here');
    //     console.log(descendants.length);
    //     descendants.forEach(elem => {
    //         console.dir(elem);
    //         if(elem.style.fontSize !== undefined){
    //             // elem.style.fontSize = elem.style.fontSize*1.5 + 'px';
    //             console.log(elem.style.fontSize)
    //         }
    //     });
    // }

</script>
<%- include('partials/footer') -%>
